/* Reset de estilos padrão do navegador */
body, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho com os botões */
header {
    background-color: #0582734d; /* Verde escuro */
    padding: 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* Estilo da imagem de carros estacionados */
.imagem-carros {
    text-align: center;
}

.imagem-carros img {
    max-width: 100%;
    height: auto;
}

/* Estilo do conteúdo com as caixas de texto */
.conteudo {
    text-align: center;
    margin-top: 20px;
}

.caixa-texto {
    display: inline-block;
    width: 30%;
    margin: 0 2%;
    padding: 20px;
    background-color: #0c889ed7; /* Verde */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0); /* Cor do texto dentro das caixas */
}

.caixa-texto h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.caixa-texto p {
    font-size: 16px;
}